services:
  app:
    build: 
      context: .
      target: dev
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=development
      - MONGO_URI=mongodb://mongo:27017/conciApi
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - PORT=4000
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - mongo
      - redis
    restart: unless-stopped
  
  mongo:
    image: mongo:8
    restart: unless-stopped
    ports: 
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: redis-server --save 60 1 --loglevel warning
    
volumes:
  mongo-data:
  redis-data: